
backend/.env

frontend/.env
node_modules

backend/ResearchPaper/__pycache__/

.vscode/

backend/Github/__pycache__/


backend/Wikipedia/__pycache__/

backend/Youtube/__pycache__/

backend/Qdrant/__pycache__/

backend/Chatbot/__pycache__/

backend/Qdrant/data/

backend/Qdrant/data2/

backend/Overview/__pycache__/
